@use "../../styles/variables" as vars;

.game-history {
  width: 250px;
  background: vars.$color-gray-light;
  padding: 15px;
  border-radius: 10px;
  box-shadow: vars.$shadow-light;
}

.game-history__heading {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.game-history__list {
  list-style: none;
  padding: 0;
  max-height: 540px;
}

.game-history__list-item {
  background: vars.$color-white;
  margin: 5px 0;
  padding: 8px;
  border-radius: 5px;
  box-shadow: vars.$shadow-tile;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-history__details {
  margin: 3px 0;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.pagination__button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  background-color: vars.$color-highlight;
  color: vars.$color-white;
  transition: background 0.3s;
}

.pagination__button:hover {
  background-color: vars.$color-highlight-hover;
}

.pagination__button:disabled {
  background-color: vars.$color-disabled;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .tile-wrapper {
    width: vars.$tile-size-md;
    height: vars.$tile-size-md;
  }

  .tile-back svg {
    width: vars.$icon-size-md;
    height: vars.$icon-size-md;
  }
}

@media (max-width: 480px) {
  .tile-wrapper {
    width: vars.$tile-size-sm;
    height: vars.$tile-size-sm;
  }

  .tile-back svg {
    width: vars.$icon-size-sm;
    height: vars.$icon-size-sm;
  }

  .pagination {
    flex-direction: column;
    gap: 8px;
  }
}

@media (max-width: 1080px) {
  .game-history {
    width: 100%;
    margin-top: 20px;
  }
}
