@use "../../styles/variables" as vars;

.button {
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s, transform 0.2s;
  background-color: vars.$color-dark;
}

.button.primary {
  background-color: vars.$color-highlight;
  color: vars.$color-white;
}

.button.primary:hover {
  background-color: vars.$color-highlight-hover;
}

.button.secondary {
  background-color: vars.$color-danger;
  color: vars.$color-white;
}

.button.secondary:hover {
  background-color: vars.$color-danger-hover;
}

.button:disabled {
  background-color: vars.$color-disabled;
  cursor: not-allowed;
  transform: none;
}
