@import "../../styles/variables";

.button {
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s, transform 0.2s;
  background-color: $color-dark;
}

.button.primary {
  background-color: $color-highlight;
  color: $color-white;
}

.button.primary:hover {
  background-color: $color-highlight-hover;
}

.button.secondary {
  background-color: $color-danger;
  color: $color-white;
}

.button.secondary:hover {
  background-color: $color-danger-hover;
}

.button:disabled {
  background-color: $color-disabled;
  cursor: not-allowed;
  transform: none;
}
