@import "../../styles/variables.scss";

.board-placeholder,
.board-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.board {
  display: grid;
  gap: 5px;
  background: $color-gray-light;
  padding: 10px;
  border-radius: 10px;
}

.board.easy {
  grid-template-columns: repeat(4, 1fr);
}

.board.medium {
  grid-template-columns: repeat(5, 1fr);
}

.board.hard {
  grid-template-columns: repeat(6, 1fr);

  &--placeholder {
    grid-template-columns: repeat(12, 1fr);
  }
}

.placeholder-tile {
  width: 50px;
  height: 50px;
  background: linear-gradient(to top left, #bbb, #999);
  border-radius: 5px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.overlay__text {
  color: $color-white;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

.highlighted-text {
  color: $color-highlight;
  font-weight: bold;
}

@media (max-width: 768px) {
  .tile-wrapper {
    width: $tile-size-md;
    height: $tile-size-md;
  }

  .tile-back svg {
    width: $icon-size-md;
    height: $icon-size-md;
  }

  .board.hard {
    &--placeholder {
      grid-template-columns: repeat(8, 1fr);
    }
  }
}

@media (max-width: 480px) {
  .tile-wrapper {
    width: $tile-size-sm;
    height: $tile-size-sm;
  }

  .tile-back svg {
    width: $icon-size-sm;
    height: $icon-size-sm;
  }

  .pagination {
    flex-direction: column;
    gap: 8px;
  }

  .board {
    gap: 3px;
  }

  .board.hard {
    &--placeholder {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  .placeholder-tile {
    width: 35px;
    height: 35px;
    background: linear-gradient(to top left, #bbb, #999);
    border-radius: 2px;
  }
}
