@use "./variables" as vars;

body {
  font-family: vars.$font-main;
  background: vars.$color-background;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
}

.app {
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: vars.$shadow-light;
  max-width: 1420px;
  color: #444;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.app__title {
  font-size: 32px;
  color: vars.$color-gray-dark;
  font-weight: 700;
}

.app__game-actions {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.app_game-container {
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: vars.$shadow-light;
}

@media (max-width: 1080px) {
  body {
    align-items: flex-start;
  }

  .app {
    align-items: center;
  }

  .app_game-container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .app__title {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .app__game-actions {
    flex-direction: column;
  }
}
